@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

main {
  margin: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgb(68, 64, 64);
}

textarea {
  min-width: 400px;
  margin-top: 40px;
  border: none;
}

button {
  padding: 20px;
  border-radius: 20px;
}
